<div class="header-inner">
  <div class="row align-items-center">
    <div class="col-auto">
      <div class="logo">
        <img src="logo.svg" />
        <a href="/" class="stretched-link"></a>
      </div>
    </div>
    <div class="col-auto">
      <h1 class="h3 fw-400">Контрольные замеры</h1>
    </div>
    <div class="col">
      <div class="header-navigation">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-icon btn-outline-white btn-colored btn-dimmed"
          >
            <svg
              width="16"
              height="16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <use xlink:href="/sprite.svg#state"></use>
            </svg>
            <span class="btn-icon-text">Замеры</span>
          </button>

          <button
            type="button"
            class="btn btn-icon btn-outline-white btn-colored btn-dimmed"
          >
            <svg
              width="16"
              height="16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <use xlink:href="/sprite.svg#document"></use>
            </svg>
            <span class="btn-icon-text">Отчеты</span>
          </button>

          <button
            type="button"
            class="btn btn-icon btn-outline-white btn-colored btn-dimmed"
          >
            <svg
              width="16"
              height="16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <use xlink:href="/sprite.svg#tools"></use>
            </svg>
            <span class="btn-icon-text"> Сервис</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="header-navigation">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-icon btn-outline-white btn-colored btn-dimmed"
          >
            <svg
              width="16"
              height="16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <use xlink:href="/sprite.svg#grid-view"></use>
            </svg>
          </button>

          <button
            type="button"
            class="btn btn-icon btn-outline-white btn-colored btn-dimmed"
          >
            <svg
              width="16"
              height="16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <use xlink:href="/sprite.svg#view-week"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
