.header {
  position: sticky;
  top: 0;
  padding: 0.625rem 1.875rem;

  background-color: #005cb9;

  color: white;
}

.header-inner {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.logo {
  position: relative;
  z-index: 1;
  display: flex;
  width: 4.963rem;
  height: 2.875rem;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-left: 10px;

  padding: 5px 10px;

  border: none;

  background-color: #007bff;

  color: white;

  border-radius: 5px;

  cursor: pointer;
}
