:host {
  --header-padding-y: 1.0625rem;
  --header-padding-x: 1.875rem;
  --header-zindex: 1200;
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--header-zindex);
  padding: var(--header-padding-y) var(--header-padding-x);
  background-color: var(--primary);
  color: var(--white);
  &-title {
    font-size: 1.75rem;
  }
}

.header-inner {
  & > .row {
    align-items: center;
  }
}

.logo {
  position: relative;
  z-index: 1;
  display: flex;
  width: 4.963rem;
  height: 2.875rem;
}
