<form (submit)="addMeasurement()">
  <table class="w-100">
    <tbody>
      <tr>
        <td>
          <input
            class="form-control form-control-grey w-100"
            type="text"
            placeholder="Источник"
            id="source"
            #source
            required
          />
        </td>
        <td>
          <input
            class="form-control form-control-grey w-100"
            type="text"
            placeholder="Фаза"
            id="phase"
            #phase
            required
          />
        </td>
        <td>
          <input
            class="form-control form-control-grey w-100"
            type="text"
            placeholder="U, kB"
            id="u"
            #u
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            class="form-control form-control-grey w-100"
            type="text"
            placeholder="I, A"
            id="i"
            #i
            required
          />
        </td>
        <td>
          <input
            class="form-control form-control-grey w-100"
            type="text"
            placeholder="Р, МВт"
            id="p"
            #p
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            class="form-control form-control-grey w-100"
            type="text"
            placeholder="Q, Мвар"
            id="q"
            #q
            required
          />
        </td>
        <td>
          <input
            class="form-control form-control-grey w-100"
            type="text"
            placeholder="coѕ ф"
            id="cos"
            #cos
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="btn btn-sm btn-outline-grey w-100">
            Добавить
          </button>
        </td>
        <td>
          <button type="reset" class="btn btn-sm btn-secondary w-100">
            Сбросить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
