<div class="app-container">
  <app-header class="header"></app-header>

  <main class="content">
    <aside class="left-panel">
      <div class="left-panel-header">
        <div class="left-panel-action">
          <button
            class="btn btn-sm btn-icon btn-outline-secondary"
            for="substations"
          >
            <svg
              width="16"
              height="16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <use xlink:href="/sprite.svg#hamburger"></use>
            </svg>
            <span class="btn-icon-text">Подстанции</span>
          </button>
          <span> > </span>
          <span *ngFor="let item of substations">{{ item.value }}</span>
        </div>
      </div>

      <div class="tab-header">
        <button for="substations" class="tab-link">Подстанция</button>
        <select class="form-select d-none" id="substations">
          <option value="{{ item.name }}" *ngFor="let item of substations">
            {{ item.value }}
          </option>
        </select>

        <button for="equipment" class="tab-link active">Оборудование</button>
        <select class="form-select d-none" id="equipment">
          <option value="{{ item.name }}" *ngFor="let item of equipment">
            {{ item.value }}
          </option>
        </select>
      </div>

      <div class="list-container">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary btn-colored"
          >
            Список
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary btn-colored"
          >
            Ведомость
          </button>
        </div>

        <div class="list-options">
          <label for="equipmentTypes">Тип</label>
          <select id="equipmentTypes">
            <option value="{{ item.name }}" *ngFor="let item of equipmentTypes">
              {{ item.value }}
            </option>
          </select>

          <label for="ruValues">РУ</label>
          <select id="ruValues">
            <option value="{{ item.name }}" *ngFor="let item of ruValues">
              {{ item.value }}
            </option>
          </select>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Наименование</th>

              <th>U ном.</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of listData">
              <td>{{ item.name }}</td>

              <td>{{ item.u }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </aside>
    <aside class="resizer">
      <div class="resizer-container">
        <div class="resizer-icon">
          <svg
            width="16"
            height="16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <use xlink:href="/sprite.svg#dragToMove"></use>
          </svg>
          <svg
            width="16"
            height="16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <use xlink:href="/sprite.svg#dragToMove"></use>
          </svg>
          <svg
            width="16"
            height="16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <use xlink:href="/sprite.svg#dragToMove"></use>
          </svg>
        </div>
      </div>
    </aside>
    <aside class="right-panel">
      <div class="right-panel-header">
        <div class="right-panel-title">
          <img src="document.png" alt="Document" height="30" />
          <div>PTCH\HH-2</div>
        </div>
      </div>

      <div class="right-panel-actions">
        <div class="row g-3">
          <div class="col">
            <div class="row g-3">
              <div class="col-auto">
                <button
                  class="btn btn-sm btn-icon btn-outline-primary btn-colored"
                >
                  <svg
                    width="16"
                    height="16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use xlink:href="/sprite.svg#certificate"></use>
                  </svg>
                  <span class="btn-icon-text">Проверить</span>
                </button>
              </div>
              <div class="col-auto">
                <button
                  class="btn btn-sm btn-icon btn-outline-primary btn-colored"
                >
                  <svg
                    width="16"
                    height="16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use xlink:href="/sprite.svg#cancel"></use>
                  </svg>
                  <span class="btn-icon-text"> Отменить проверку </span>
                </button>
              </div>
              <div class="col-auto">
                <button
                  class="btn btn-sm btn-icon btn-outline-primary btn-colored"
                >
                  <svg
                    width="16"
                    height="16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use xlink:href="/sprite.svg#edit"></use>
                  </svg>
                  <span class="btn-icon-text"> Редактировать </span>
                </button>
              </div>
              <div class="col-auto">
                <button
                  class="btn btn-sm btn-icon btn-outline-primary btn-colored"
                >
                  <svg
                    width="16"
                    height="16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use xlink:href="/sprite.svg#delete"></use>
                  </svg>
                  <span class="btn-icon-text"> Удалить </span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="row g-3">
              <div class="col-auto">
                <div class="btn-group">
                  <button
                    class="btn btn-sm btn-icon btn-outline-secondary btn-colored"
                  >
                    <svg
                      width="16"
                      height="16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      focusable="false"
                    >
                      <use xlink:href="/sprite.svg#vertical"></use>
                    </svg>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-outline-secondary btn-colored"
                  >
                    <svg
                      width="16"
                      height="16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      focusable="false"
                    >
                      <use xlink:href="/sprite.svg#horizontal"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="col-auto">
                <button
                  class="btn btn-sm btn-icon btn-outline-secondary btn-colored"
                >
                  <svg
                    width="16"
                    height="16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use xlink:href="/sprite.svg#expand"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right-panel-options">
        <div class="message">
          <span class="text-warning">Нет</span> проверенных замеров
        </div>

        <div class="form-check form-switch form-switch-primary">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            role="switch"
            id="group-by-date"
          />
          <label class="form-check-label" for="group-by-date">
            Группировать по дате
          </label>
        </div>
      </div>

      <div class="table-container">
        <div class="table-title">+ Добавить новые замеры</div>
        <app-measurement-form
          (newMeasurement)="addNewMeasurement($event)"
        ></app-measurement-form>

        <table class="table">
          <thead>
            <tr>
              <th class="form-check-primary">
                <input type="checkbox" class="form-check-input" />
              </th>
              <th *ngFor="let header of tableHeaders">{{ header }}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of tableData">
              <td class="form-check-primary">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="isChecked(item)"
                  (click)="toggleCheck(item)"
                />
              </td>
              <td>{{ item.date }}</td>

              <td>{{ item.time }}</td>

              <td>{{ item.source }}</td>

              <td>{{ item.phase }}</td>

              <td>{{ item.u }}</td>

              <td>{{ item.i }}</td>

              <td>{{ item.p }}</td>

              <td>{{ item.q }}</td>

              <td>{{ item.cos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </aside>
  </main>

  <div class="footer">Версия 11.6.5.41</div>
</div>
