<div class="container">
  <app-header class="header"></app-header>

  <div class="content">
    <div class="left-panel">
      <div class="left-panel-header">
        <div class="left-panel-action">
          <button class="button" for="substations">Подстанции</button>
          <span>→</span>
          <span *ngFor="let item of substations">{{ item.value }}</span>
        </div>
      </div>

      <div class="selection">
        <label for="substations">Подстанция</label>
        <select id="substations">
          <option value="{{ item.name }}" *ngFor="let item of substations">{{ item.value }}</option>
        </select>

        <label for="equipment">Оборудование</label>
        <select id="equipment">
          <option value="{{ item.name }}" *ngFor="let item of equipment">{{ item.value }}</option>
        </select>
      </div>

      <div class="list-container">
        <div class="list-title">
          <button>Список</button>
          <button>Ведомость</button>
        </div>

        <div class="list-options">
          <label for="equipmentTypes">Тип</label>

          <select id="equipmentTypes">
            <option value="{{ item.name }}" *ngFor="let item of equipmentTypes">{{ item.value }}</option>
          </select>

          <label for="ruValues">РУ</label>
          <select id="ruValues">
            <option value="{{ item.name }}" *ngFor="let item of ruValues">{{ item.value }}</option>
          </select>
        </div>

        <table class="list">
          <thead>
            <tr>
              <th>Наименование</th>

              <th>U ном.</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of listData">
              <td>{{ item.name }}</td>

              <td>{{ item.u }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="right-panel">
      <img src="document.png" alt="Document" height="30">
      <div class="title">PTCH\HH-2</div>

      <div class="buttons">
        <button class="button">Проверить</button>
        <button class="button">Отменить проверку</button>
        <button class="button">Редактировать</button>
        <button class="button">Удалить</button>
        <button class="button">目</button>
        <button class="button">目</button>
      </div>

      <div class="message">Нет проверенных замеров</div>

      <div class="options">
        <label for="scheme">Схема</label>

        <input type="checkbox" id="scheme" />

        <label for="group-by-date">Группировать по дате</label>

        <input type="checkbox" id="group-by-date" />
      </div>

      <div class="table-container">
        <div class="table-title">+ Добавить новые замеры</div>
        <app-measurement-form (newMeasurement)="addNewMeasurement($event)"></app-measurement-form>

        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th *ngFor="let header of tableHeaders">{{ header }}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of tableData">
              <td>
                <input type="checkbox" [checked]="isChecked(item)" (click)="toggleCheck(item)" />
              </td>
              <td>{{ item.date }}</td>

              <td>{{ item.time }}</td>

              <td>{{ item.source }}</td>

              <td>{{ item.phase }}</td>

              <td>{{ item.u }}</td>

              <td>{{ item.i }}</td>

              <td>{{ item.p }}</td>

              <td>{{ item.q }}</td>

              <td>{{ item.cos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="footer">Версия 11.6.5.41</div>
</div>